#kokoSivu{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    background-image: linear-gradient(-90deg, #3b873b,#0ed65b);
}

#footer{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    margin-top: -24px;
}


#kelot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3px;
    padding: 2px;

}
#kelot a{
    width: 100%;
    padding: 3px;
    font-size: 18px;
    color: azure;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#kelot a:hover{
    color: black;
}
#kel{
  width: fit-content;
}
#kelo{
    width: 80px;
    height: 55px;
    width: 20%;
}
#logo{
    margin-right: 5px;
    color: azure;
    font-size: 21px;
}

#al1{
  text-align: center;
  display: grid;
}

@media only screen and (max-width: 700px) {
  #kokoSivu {
    width: 100%;
  } 
  #kelot{
    width: 100%;
  }
  #kelo{
   width: 100%;
}

}

@media only screen and (max-width: 500px) {
 #kelot{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px; 
  }


  #kel a{
    width: 100%;
    padding-bottom: 15px;
  }
 
   #kokoSivu {
    width: 100%;

  }
  #kelo{
    margin-top: 10px;
    margin-right: 10px;
    width: 60px;
    height: 50px;
}


  
}